body{
    font-family: 'Montserrat';
}
/*Header*/
.header{
    min-height: 80px;
}
.logo{
    border: 1px solid;
    padding: 10px;
    font-size: 0.8rem!important;
}
.header-link{
    color: black!important;
}
.header-link:hover{
    color: #1B8271!important;
}
.main-color{
    color: #1B8271!important;
    padding-right: 5px;
}
.border-logo{
    color: #1B8271!important;
    border: 1px solid #1B8271!important;
    padding: 7px;
    font-size: 0.9rem;
}
.btn-main{
    background: #1B8271!important;
    color: white;
}
/*Header*/
/*INDEX*/

.bg-main{
    background-image: url("/assets/image/bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 160%;
}

/*SECOND INDEX*/

.text-title{
    font-size: 1.2em;
}
.text-subtitle{
    font-size: 1em;
    color: #C4C4C4;
}
.bg-card{
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    width: 100%;
    height: 250px;
    background-position: center center;
    background-repeat: no-repeat;
}
.bg-card-button{
    margin: 10px 10px;
    border-radius: 20px;
    color: white;
}
.bg-tag-button{
    background: #E9F3F1;
    border-radius: 20px;
    color: #1B8271;
}
.client-bg{
    height: 250px;
    width: 250px;
}
.circle-advantage{
    width: 250px;
    height: 250px;
    background: white;
    border-radius: 125px;
    font-size: 125px;
    color:  #1B8271;
}
.pill-button{
    min-height: 130px;
    background: white;
    color: #1B8271;
    box-shadow: 5px 5px 10px;
    border-top-left-radius: 70px;
    border-bottom-left-radius: 70px;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    cursor: pointer;

}
.pill-button:hover{
   background: #1B8271;
    color: white;
}
.pill-button > .w-25{
    font-size: 55px;
}
.first{
    color: #1B8271;
    margin: 0;
}
.second{
    color: black;
}
.certificate{
    background: gray;
    width: 210px;
    height: 297px;
}
.footer-icon{
    font-size: 24px;
}


/*AUTH*/
.auth-section{
    min-height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/assets/image/login.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.auth-card{
    min-height: 400px;
}
